<a href="https://colab.research.google.com/github/isacNepo/aulas_faculdade/blob/master/aula_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aula 02 - Introdução ao Python

O nome deste tipo de edição é chamado de **Markdown** (https://www.markdownguide.org/)

A documentação do Python poder ser encontrada em: https://www.python.org/doc/

**Objetivo da aula**: Apresentar os conceitos iniciais da linguagem Python abordando os operadores aritméticos, relacionais e lógicos, além de comandos de saída e entra (leitura do teclado).

__Variável__: é um objeto localizado na memória da máquina, capaz de armazenar dados para representar um valor ou uma função (expressão) através de um __nome__.

Em Python, temos três tipo:
*   Numérico
*   Texto ou *string*
*   Lógico ou *booleano*

**Observações Importantes**
* Em Python não há a necessidade especificar que tipo uma variável deve ser, pois a própria linguagem reconhece o tipo de acordo com o valor atribuído.
* Python é Case Sensitive, ou seja, diferencia letras maiúsculas de minúsculas.
* Para definirmos o nome de variáveis, temos que iniciar utilizando um caractere que esteja no intervalo de `a` à `z` ou `A` à `Z` e de `0` a `9`. A única exceção a esta regra é o caractere underscore "`_`".
* Podemos utilizar números, desde que seja o segundo caractere da sequência.
* Também é desejável e prudente que os nomes tenham relação com o seu significado.

## Comentários em Python

Comentário é uma parte textual específica dentro de um código que visa descrever ou informar qual o significado/comportamento dele.

Comentários em Python são realizados através da utilização do símbolo Hashtag `#`. Exemplo:

`# hoje está frio`

Um ou mais comentários são ignorados no momento da execução do código.

Outra forma é realizar os comentários em blocos com mais de uma linha, utilizando três aspas. Exemplo: `""" texto """`

In [ ]:
# Comando para mostra dados na tela: print(valor)
print('Olá Mundo!!!')
print("Olá Mundo!!!")

Olá Mundo!!!
Olá Mundo!!!

In [ ]:
"""
Esse comentário está em bloco.

Variáveis numéricas:
int: número inteiro
float: ponto flutuante (real)
"""

print('Os comentários acima não são mostrados')

Os comentários acima não são mostrados

In [ ]:
# Declaração de variáveis
x = 10   # inteiro (int)
y = 10.6 # float (real)

In [ ]:
print(x)
print(y)

10
10.6

In [ ]:
# E se eu quiser mostrar os dois ao mesmo tempo?
print(x, y) # separa cada parâmetro pela vírgula

10 10.6

In [ ]:
# usando escapes

# \n - Nova linha. Move o cursor para o início da próxima linha.
# \t - Tabulação Horizontal. Move o cursor para a próxima parada de tabulação (tab).
# \r - Retorno de carro. Move o cursor para o início da linha atual; não avança para a próxima linha.
# \b - Backspace. Retrocede o cursor um caractere.
# \ - Barra invertida (Backslash).
# \" - Caractere de aspas duplas.
# \' - Caractere de aspas simples. 

print('Edilson\nperguntou\tcomo incluir sinais no print()')

Edilson
perguntou	como incluir sinais no print()

In [ ]:
# Concatenação ou junção de textos
# Usamos o símbolo "+" (adição)

print('Edson' + 'Melo')
print('Edson' + ' ' + 'Melo')
print('Edson ' + 'Melo')
print('Edson' + ' Melo')

EdsonMelo
Edson Melo
Edson Melo
Edson Melo

In [ ]:
# Descobrir o tipo de uma variável
# Vamos usar uma função para saber qual é o tipo da variável: type(variavel)
variavel = 10
print(type(variavel))

variavel = 42.97
print(type(variavel))

variavel = 'Edson '
print(type(variavel))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
variavel = 10
print(variavel, type(variavel))

variavel = 42.97
print(variavel, type(variavel))

variavel = 'Edson '
print(variavel, type(variavel))

10 <class 'int'>
42.97 <class 'float'>
Edson  <class 'str'>

In [1]:
# Exercício
# Dado os valores a seguir, mostrar o resultado da seguinte forma:
# Saída: O valor de "a" é 4 e o seu tipo é <class 'int'>
a = 4

print('O valor de "a" é ', a, 'e o seu tipo é ', type(a))

O valor de "a" é  4 e o seu tipo é  <class 'int'>

In [ ]:
#converte

In [2]:
# Converter um número em um texto: str()
aa = 10
bb = 'Uninove'

print(bb + str(aa))

Uninove10

In [3]:
# Quando a saída ocorrer sozinha dentro de uma célula, não precisa do print
aa, bb

(10, 'Uninove')

In [4]:
# Outros tipos de formatação
idade = 35

print("O valor da variável 'idade' é %.02f" %idade)

O valor da variável 'idade' é 35.00

In [6]:
# Outra forma
nome = 'Tio Patinhas'
idade = 120

print('O {} tem {} anos.'.format(nome, idade))
print('O {} tem {} anos.'.format(idade, nome))

O Tio Patinhas tem 120 anos.
O 120 tem Tio Patinhas anos.

In [7]:
# Outra forma
nome_x = 'Tio Patinhas'
idade_x = 120

print('O {} tem {} anos.'.format(nome_x, idade_x))
#print('O {} tem {} anos.'.format(idade, nome))

O Tio Patinhas tem 120 anos.

In [8]:
# Mais uma forma
f"O {nome} tem {idade} anos"

'O Tio Patinhas tem 120 anos'