<a href="https://colab.research.google.com/github/isacNepo/aulas_faculdade/blob/master/aula04_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estrutura de Dados - _``list``_
## Listas (_``list``_)

É uma estrutura de dados que possui nenhum, um ou mais elementos ou itens. Os itens são ordenados a partir de um índice, apresentando flexibilidade para manipulação dos dados como inclusão, exclusão, alteração, ordenação, etc.

As listas são estruturas dinâmicas, ou seja, permitem que as operações possam ser realizadas em tempo de execução. Outro detalhe importante é que os dados armazenados em uma lista podem ser de tipos variados, permitindo um maior controle sobre os mesmos.

Em Python uma lista é representada por um par de colchetes ``[ ]``.

In [1]:
# Relembrando
x = 10

# Como saber o tipo do dado armazenado na variável x?
print(type(x))

<class 'int'>

In [2]:
# Declaração de uma variável do tipo lista
lista = []

In [3]:
lista

[]

In [4]:
print(type(lista))

<class 'list'>

In [5]:
# Ex. 1 - lista com dados tipo String
nomes = ['Edson', 'Tio Patinhas', 'Zé Carioca', 'Pica Pau']
print(nomes)

['Edson', 'Tio Patinhas', 'Zé Carioca', 'Pica Pau']

In [6]:
# Qual o tipo de dado que será mostrado com o type(nomes)?
print(type(nomes))

<class 'list'>

In [7]:
# Ex. 2 - Lista variada
aluno = [123, 'Edson', 109.2, None, True]
aluno

[123, 'Edson', 109.2, None, True]

In [8]:
print(type(aluno))

<class 'list'>

In [9]:
# Acessar elemtnos de uma lista
# Basta usar o índice da lista (sempre inicia-se em zero)
# var[posicao] -> posicao é o índice
#         0      1       2      3    4
aluno = [123, 'Edson', 109.2, None, True]

print(aluno[1]) # Edson
print(aluno[3]) # None

Edson
None

In [10]:
# Se sabemos acessar um item pelo índice, então como percorrer uma lista?
for var in aluno:
    print(var)

123
Edson
109.2
None
True

In [11]:
# Atividade para treinar
# Mostra qual o tipo de dados de cada um dos itens da lista

for x in aluno:
    print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'NoneType'>
<class 'bool'>

In [12]:
# Mostrar o índice e o valor de cada entrada da lista aluno
for var in aluno:
    print(aluno.index(var), var)

0 123
1 Edson
2 109.2
3 None
4 True

In [13]:
# Forma alternativa seria com um contador

____
### Operações com listas

In [14]:
lista = []

In [15]:
# Adicionar via .append(value) - sempre no final da lista
lista.append('Banana')
lista.append('Abacaxi')
lista

['Banana', 'Abacaxi']

In [16]:
# Adicionar via insert(index, value) - insere em uma posição específica
lista.insert(1, 'Maça')
lista

['Banana', 'Maça', 'Abacaxi']

In [17]:
# Remover um item específico
lista.remove('Banana')
lista

['Maça', 'Abacaxi']

In [18]:
lista.append('Caqui')
lista.append('Cebola')
lista.append('Espinafre')
lista

['Maça', 'Abacaxi', 'Caqui', 'Cebola', 'Espinafre']

In [19]:
# Remoção do último indice (item) - pop()
print(lista)
lista.pop()
print(lista)

['Maça', 'Abacaxi', 'Caqui', 'Cebola', 'Espinafre']
['Maça', 'Abacaxi', 'Caqui', 'Cebola']

In [20]:
# Removendo com pop(index)
lista.pop(1)
lista

['Maça', 'Caqui', 'Cebola']

In [21]:
alunos = ['Joel', 'Juan', 'Gabriel', 'Wellington', 'Felipe', 'Yuri']
alunos

['Joel', 'Juan', 'Gabriel', 'Wellington', 'Felipe', 'Yuri']

In [22]:
# ordenação de lista .sort()
#             0        1         2         3             4        5
# alunos = ['Joel', 'Juan', 'Gabriel', 'Wellington', 'Felipe', 'Yuri']
alunos.sort()
alunos
#              0          1        2        3         4           5 
#          ['Felipe', 'Gabriel', 'Joel', 'Juan', 'Wellington', 'Yuri']

['Felipe', 'Gabriel', 'Joel', 'Juan', 'Wellington', 'Yuri']

In [23]:
alunos.pop(1)
alunos

['Felipe', 'Joel', 'Juan', 'Wellington', 'Yuri']

In [24]:
mix = ['125', 'Edson', 'Maria', 'True', 'Zezinho', '512', '1.78']
mix.sort()
mix

['1.78', '125', '512', 'Edson', 'Maria', 'True', 'Zezinho']

In [25]:
inteiro = [1, 56, -19]
inteiro.sort()
inteiro

[-19, 1, 56]

In [26]:
x = [True, False, False, not True]
x.sort()
x

[False, False, False, True]

In [27]:
# Ordem reversa - reverse
alunos = ['Joel', 'Juan', 'Gabriel', 'Wellington', 'Felipe', 'Yuri']
print(alunos)

['Joel', 'Juan', 'Gabriel', 'Wellington', 'Felipe', 'Yuri']

In [28]:
alunos.reverse()
print(alunos)

['Yuri', 'Felipe', 'Wellington', 'Gabriel', 'Juan', 'Joel']

In [29]:
# Ordenar de A-Z
alunos.sort()
alunos

['Felipe', 'Gabriel', 'Joel', 'Juan', 'Wellington', 'Yuri']

In [30]:
# Ordenar decrescente
alunos.reverse()
alunos

['Yuri', 'Wellington', 'Juan', 'Joel', 'Gabriel', 'Felipe']

### Mesclagem de listas

In [31]:
lista1 = ['Memorial', 'Vergueiro', 'Vila Maria']
lista2 = ['Santo Amaro', 'Bauru', 'Vila Prudente']

In [32]:
# Ex. 1: junta as duas listas, mas não altera os conteúdos
print(lista1 + lista2)

['Memorial', 'Vergueiro', 'Vila Maria', 'Santo Amaro', 'Bauru', 'Vila Prudente']

In [33]:
# Ex. 2: junta a lista 2 na lista 1
lista1.extend(lista2)
print(lista1)
print(lista2)

['Memorial', 'Vergueiro', 'Vila Maria', 'Santo Amaro', 'Bauru', 'Vila Prudente']
['Santo Amaro', 'Bauru', 'Vila Prudente']

## Atividade Treino

- Leia via teclado 10 entradas numéricas (inteiros) "não repetidos". Se for repetido, informar o usuário.
- Ao final mostrar os números lidos
- Tempo: 10 minutos

In [34]:
lista = []

while len(lista) < 11:
    val = int(input('Digite o valor: '))
  
    if (val) not in lista: # se não estiver na lista
        lista.append(val) # inserimos o número na lista
        print(val, 'inserido na lista')
    else:
        print(val, 'já foi inserido na lista anteriormente')
    
print(lista)

Digite o valor: 2
2 inserido na lista
Digite o valor: 3
3 inserido na lista
Digite o valor: 4
4 inserido na lista
Digite o valor: 5
5 inserido na lista
Digite o valor: 6
6 inserido na lista
Digite o valor: 7
7 inserido na lista
Digite o valor: 8
8 inserido na lista
Digite o valor: 9
9 inserido na lista
Digite o valor: 10
10 inserido na lista
Digite o valor: 1
1 inserido na lista
Digite o valor: 1
1 já foi inserido na lista anteriormente
Digite o valor: 1
1 já foi inserido na lista anteriormente
Digite o valor: 11
11 inserido na lista
[2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 11]

### Fatiamento de listas ou _``slice``_

In [35]:
# o último índice é o tamanho da lista menos um -> len()-1
lista = ['Edson', 'Ana', 'Luiz', 'Pedro', 'Carol', 'Tio patinhas', 'Pica Pau']
len(lista)

7

In [36]:
# lista[início, fim, passo (número de contagem)]
# lista[start, stop, step]

# Forma 1
print(lista[0:2])
print(lista[2:5])

print(lista[3:]) # começa no três e vai até o final
print(lista[:3])

print(lista[::2]) # pulando

['Edson', 'Ana']
['Luiz', 'Pedro', 'Carol']
['Pedro', 'Carol', 'Tio patinhas', 'Pica Pau']
['Edson', 'Ana', 'Luiz']
['Edson', 'Luiz', 'Carol', 'Pica Pau']

In [37]:
# Forma 2
v1 = slice(3)
print(v1)
print(lista[v1])

slice(None, 3, None)
['Edson', 'Ana', 'Luiz']

### Composição de listas

Como a lista é uma estrutura de dados que permite tipos de dados diferentes, também podemos utilizar uma lista dentro de outra.

In [38]:
# Lista composta
lista_1 = [1, 'Ciências da Computação']
lista_2 = [2, 'Análise de Sistemas']
lista_3 = [3, 'Sistemas de Informação']

# inserindo listas com itens de uma lista
lista_cursos = [lista_1, lista_2, lista_3]

print(lista_cursos)

[[1, 'Ciências da Computação'], [2, 'Análise de Sistemas'], [3, 'Sistemas de Informação']]

Perceba que no início e no final dos dados encontramos __dois colchetes__, indicando a existência de uma lista dentro de outra.

In [39]:
# Percorrendo uma lista composta
for itens in lista_cursos:
    #mostra ca uma das listas contidas nos índices da lista_cursos
    print(itens)

[1, 'Ciências da Computação']
[2, 'Análise de Sistemas']
[3, 'Sistemas de Informação']

In [40]:
# Percorrendo a lista_cursos e mostrando os itens idividuais de cada uma das listas
# Obs.: O parâmetro "end" dentro do print informa que não haverá salto de linha e conterá um espaço de separação
for itens in lista_cursos:
    for curso in itens:
        print(curso, end=" ")
    print()

1 Ciências da Computação
2 Análise de Sistemas
3 Sistemas de Informação

### Operações Numéricas em Listas

In [41]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print('MAX:', max(lista))
print('MIN:', min(lista))
print('SUM:', sum(lista))

MAX: 10
MIN: 1
SUM: 55