<a href="https://colab.research.google.com/github/isacNepo/aulas_faculdade/blob/master/aula_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas (_Tuple_)

Tuplas são uma estrutura de dados semelhantes as listas, porém não podem ser modificadas após a sua criação, ou seja, não podemos modificar seu conteúdo. Seja adicionando, removendo ou substituindo informações. Isso garante que os dados inseridos em uma tupla não sofreraão modificação.

Basicamente as operações são iguais, embora os comandos para alteração não estejam disponíveis. Em Python uma lista é representada por um par de parênteses ``( )``.

Para saber mais sobre _tuplas_ acesse: [https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences).

In [ ]:
tupla = (1, 2, 3, 4, 5, 'Edson')
print(tupla, type(tupla))

In [ ]:
# comparando com as lista
lista = [1, 2, 3, 4, 5]
lista.append(6)
print(lista)

In [ ]:
# percorrendo uma tupla
for i in tupla:
  print(i)

___
# Dicionários (_dict_)

* O dicionário é uma estrutura de dados similar as listas ou ao JSON (Javascript Object Notation), mas não ordenado. Sua estrutura é composta por <code>chave:valor</code> ou <code>key:value</code>
* Apesar de não ser ordenado, é indexado pela sua chave
* Enquanto nas listas o delimitador são pares de colchetes `[]`, no dict são as chaves `{}`.

```python
dict = {
  'chave1': 'valor1',
  'chave2': 'valor2'
}
```

In [ ]:
# dicionário de um aluno
dic = {
    'ra': 123, # int
    'nome': 'Edson Souza', # string
    'curso': 'Sistemas de Informação', # string
    'altura': 1.76 # float
}

print(dic)

{'ra': 123, 'nome': 'Edson Souza', 'curso': 'Sistemas de Informação', 'altura': 1.76}

In [ ]:
# saída sem o print
dic

{'ra': 123,
 'nome': 'Edson Souza',
 'curso': 'Sistemas de Informação',
 'altura': 1.76}

### Acessando elementos do dicionário - [ ]

In [ ]:
# acesso pela chave
print(dic['ra'])
print(dic['nome'])
print(dic['curso'])
print(dic['altura'])

123
Edson Souza
Sistemas de Informação
1.76

In [ ]:
# acessando pelo método .get()
print(dic.get('ra'))
print(dic.get('nome'))

123
Edson Souza

### Percorrendo um dicionário

Para percorrer as chaves do dicionário para verificar os valores delas usamos um laço de repetição como `for` ou `while`.

Existe também um método dos dicionários chamado `.items()` que permite acessar todos os itens de um dicionário.

```python
for key, value in dicionario.items(): # retorna um par chave:valor
    print(key, value)
```

In [ ]:
for chave, valor in dic.items():
  print(chave, valor)

ra 123
nome Edson Souza
curso Sistemas de Informação
altura 1.76

In [ ]:
# outra forma de percorrer
chaves = dic.keys()
print(chaves)

dict_keys(['ra', 'nome', 'curso', 'altura'])

In [ ]:
for key in chaves:
  print(key)

for key in dic.keys():
  print(key)

ra
nome
curso
altura
ra
nome
curso
altura

In [ ]:
for i in dic:
  print(i)

ra
nome
curso
altura

In [ ]:
# outra forma de listar os valores do dicionário
chaves = dic.keys()
for key in chaves:
  print(key, dic.get(key))

print()

for key in chaves:
  print(key, dic[key])

ra 123
nome Edson Souza
curso Sistemas de Informação
altura 1.76

ra 123
nome Edson Souza
curso Sistemas de Informação
altura 1.76

### Manipulação de dicionários

In [ ]:
# Adicionado chaves e valores de duas formas

aluno = {
    'ra': 123, # int
    'nome': 'Edson Souza', # string
    'curso': 'Sistemas de Informação', # string
    'altura': 1.76 # float
}

# Forma 1
aluno['AV1'] = 8
print(aluno)

{'ra': 123, 'nome': 'Edson Souza', 'curso': 'Sistemas de Informação', 'altura': 1.76, 'AV1': 8}

In [ ]:
# incluindo dados de forma dinâmica
teste = {}
chave = input()
valor = input()

teste[chave] = valor
print(teste)

nome
Edson Melo de Souza
{'nome': 'Edson Melo de Souza'}

In [ ]:
# Forma 2 - update()
# Neste método, se a chave não existir, ela será criada, se não, será atualizada

aluno.update({'AV2': 9.5})
print(aluno)

{'ra': 123, 'nome': 'Edson Souza', 'curso': 'Sistemas de Informação', 'altura': 1.76, 'AV1': 8, 'AV2': 9.5}

In [ ]:
# Atualizando um valor existente
aluno.update({'AV2': 10.0})
print(aluno)

{'ra': 123, 'nome': 'Edson Souza', 'curso': 'Sistemas de Informação', 'altura': 1.76, 'AV1': 8, 'AV2': 10.0}

In [ ]:
# Removendo valores
del aluno['AV1']
print(aluno)

{'ra': 123, 'nome': 'Edson Souza', 'curso': 'Sistemas de Informação', 'altura': 1.76, 'AV2': 10.0}

In [ ]:
# Verificando pertinência
print('AV1' in aluno)
print('nota' in aluno)
print('AV5' not in aluno)

False
False
True

### Turbinando

E se eu quiser criar um dicionário mais complexo, no caso com "vários" alunos?

In [ ]:
alunos = [
    {'ra': 123, 'nome': 'ABC', 'curso': 'SI'},
    {'ra': 456, 'nome': 'DEF', 'curso': 'CC'},
    {'ra': 789, 'nome': 'HIJ', 'curso': 'ADS'}
  ]

alunos

[{'ra': 123, 'nome': 'ABC', 'curso': 'SI'},
 {'ra': 456, 'nome': 'DEF', 'curso': 'CC'},
 {'ra': 789, 'nome': 'HIJ', 'curso': 'ADS'}]

In [ ]:
# Percorrendo os dados
for aluno in alunos:  
  print(aluno.get('ra'))

In [ ]:
# melhorando a listagem
for dicionario in alunos:
  for aluno in dicionario:
    print(aluno, dicionario.get(aluno))
  print()

# Atividade

Utilizando os coneitos vistos até a última aula, utilize os dados apresentados abaixo e mostre:
*   Maior nota
*   Menor nota
*   Média das notas
    
__Atenção__: Deverão ser utilizadas _listas_, _dicionários_, _estruturas de repetição_ e _decisão_.

In [ ]:
alunos = []
alunos.append({'nome': 'Aluno 01', 'curso': 'Ciências da Computação', 'AV1':8 })
alunos.append({'nome': 'Aluno 02', 'curso': 'Sistemas de Informação', 'AV1':7 })
alunos.append({'nome': 'Aluno 03', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 04', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 05', 'curso': 'Sistemas de Informação', 'AV1':6 })
alunos.append({'nome': 'Aluno 06', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':7 })
alunos.append({'nome': 'Aluno 07', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 08', 'curso': 'Ciências da Computação', 'AV1':10 })
alunos.append({'nome': 'Aluno 09', 'curso': 'Ciências da Computação', 'AV1':10 })
alunos.append({'nome': 'Aluno 10', 'curso': 'Ciências da Computação', 'AV1':4 })
alunos.append({'nome': 'Aluno 11', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':5 })
alunos.append({'nome': 'Aluno 11', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':5 })
alunos.append({'nome': 'Aluno 12', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 13', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })
alunos.append({'nome': 'Aluno 14', 'curso': 'Ciências da Computação', 'AV1': 7})
alunos.append({'nome': 'Aluno 15', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':7})
alunos.append({'nome': 'Aluno 16', 'curso': 'Ciências da Computação', 'AV1': 6})
alunos.append({'nome': 'Aluno 17', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':8 })
alunos.append({'nome': 'Aluno 18', 'curso': 'Ciências da Computação', 'AV1':4 })
alunos.append({'nome': 'Aluno 19', 'curso': 'Sistemas de Informação', 'AV1':2 })
alunos.append({'nome': 'Aluno 20', 'curso': 'Análise e Desenvolvimento de Sistemas', 'AV1':9 })

In [ ]:
notas = []
for aluno in alunos:
  notas.append(aluno.get('AV1'))

print('Maior nota:', max(notas))
print('Menor nota:', min(notas))
print('Média: %.2f' % (sum(notas)/len(notas)))

Maior nota: 10
Menor nota: 2
Média: 6.86

# Dicionários agregados

In [ ]:
estudante = [
    {
      'ra': 123,
      'disciplinas': ['Algoritmos', 'ciência de Dados', 'Java']
    }
]

for disciplina in estudante:
  print(disciplina.get('disciplinas'))

['Algoritmos', 'ciência de Dados', 'Java']

___
# Funções

## São blocos de código que permitem agregar uma série de instruções para facilitar o reuso de código. Isso evita escrever uma sequência repetidas vezes, minimizando o esforço e os erros.

```python
def nome(parametros):
  ...instruções...
```

In [ ]:
# Função sem parâmetros
def funcao_1():
  print('Esta é uma função')

funcao_1()

Esta é uma função

In [ ]:
# Função sem parâmetros com retorno
# Esse tipo de função permite que seja armazenado o valor do seu retorno em uma variável
def funcao_2():
  return 'Retorno de uma função'

retorno = funcao_2()

In [ ]:
print(retorno)

Retorno de uma função

In [ ]:
# Função com parâmetros
def soma(a, b):
  return (a + b)

print(soma(10, 20))

30

In [ ]:
resultado = soma(100, 300)
print(resultado)

400

In [ ]:
# Melhorando as coisas...
# Funções com listas
def soma(valores):
  return sum(valores)

soma([1,2,3,4,5])

15

In [ ]:
# Truque com o (*)

def soma(*valores):
  soma = 0

  for n in valores:
    soma += n

  return soma

soma(1,2,3)

6

In [ ]:
soma(10, 4, -5, 8, 7, 12, 31)

67

# Funções com mais de um retorno

In [ ]:
# O parâmetro é uma lista
def calcular(valores):
  """
  Parâmetro: lista de valores
  Retorno: soma e máximo
  """
  # soma e máximo
  return sum(valores), max(valores), min(valores)

In [ ]:
soma, max, min = calcular([1,2,3,4,5])

In [ ]:
print(soma)
print(max)
print(min)

15
5
1

# Atividade

Desenvolver uma função que receba um número e diga se ele é par ou ímpar

In [ ]:
#

def par_impar(valor):
  return (valor % 2 == 0)

  # Um jeito mais chique
  #return 'Par' if valor%2 == 0 else 'Ímpar'

if par_impar(12):
  print('Par')
else:
  print('Ímpar')

Par