<a href="https://colab.research.google.com/github/isacNepo/aulas_faculdade/blob/master/C%C3%B3pia_de_aula_03_operadores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operadores, Estruturas de Decisão e Repetição

## Operadores Aritméticos

| Operação      | Operador |
|---------------|:--------:|
| Adição        |     +    |
| Subtração     |     -    |
| Multiplicação |     *    |
| Divisão       |     /    |
| Exponenciação |    **    |
| Parte Inteira |    //    |
| Módulo        |     %    |

In [3]:
# adição (+)
10 + 10

20

In [4]:
# subtração (-)
10 -2

8

In [5]:
# multiplicação (*)
10 * 2

20

In [6]:
# divisão (/)
10 / 2

5.0

In [7]:
# exponenciação/potência (**)
2 ** 3

8

In [8]:
# Divisão inteira (//)
print(10 // 3)
print(5 // 2) # 5/2 = 2.5

3
2

In [9]:
# Resto da divisão - módulo (%)
print(10 % 3)
print(5 % 2)

1
1

In [10]:
# Descobrindo se um número é par ou ímpar
n = 5
n % 2

1

## Operadores Relacionais
| Descrição        | Operador |
|------------------|:--------:|
| Maior que        |     >    |
| Menor que        |     <    |
| Igual a          |    ==    |
| Maior ou igual a |    >=    |
| Menor ou igual a |    <=    |
| Diferente        |    !=    |

O símbolo `!` significa uma negação ou não.

In [11]:
print(10 < 2)
print(2 < 10)
print(10 == 10)
print(11 >= 10)
print(10 <= 11)
print(10 != 11)
print(10 < 10)

False
True
True
True
True
True
False

## Operadores Lógicos

Esses operadores permitem unir 2 expressões ligando-as com os conectivos lógicos matemáticos e são:

| Operador Lógico 	| Função    	| Prioridade 	|
|-----------------	|-----------	|:----------:	|
| NOT             	| Negação   	|      1     	|
| AND             	| Conjunção 	|      2     	|
| OR              	| Disjunção 	|      3     	|

**Observação**: Pesquisar sobre conectivos lógicos e tabela Verdade

In [12]:
# NOT
print('NOT', not (10 < 2) )
print('NOT', not (10 > 10) )
print('NOT', not (10 == 10) )

NOT True
NOT True
NOT False

In [13]:
# AND
print((10 > 2) and (8 != 4))

True

## Conversão de Tipos

* Absoluto abs(x) - sem sinal (+ ou -)
* Conveter para Inteiro: int(x)
* Converter para Real: float(x)
* Converter para String: str(valor)

In [14]:
print(abs(-98))
print(int(10.32))
print(int('12'))
print(float('23.12') * 2)
print(type(str(123.12)))

98
10
12
46.24
<class 'str'>

## Leitura pelo Teclado

Para realizar a entrada de dados, podemos usar o comando `input()` da seguinte forma:

```python
    variavel = input('Mensagem ao usuário: ')
```

É importante destacar que a entrada de dados sempre será interpretada como um `String`, isso significa que qualquer valor lido deverá ser convertido para o tipo específico. Exemplos:

In [15]:
valor = input('digite seu nome: ')
print(valor)

digite seu nome: isac
isac

In [16]:
valor1 = float(input('Digite um número qualquer: '))
valor2 = float(input('Digite outro número qualquer: '))
print(type(valor1), type(valor2))

print(valor1 * valor2)

Digite um número qualquer: 5
Digite outro número qualquer: 6
<class 'float'> <class 'float'>
30.0

# Exercício

Calcule o **delta** da equação a seguir, realizando a entrada dos valores de (a, b e c) pelo teclado.

<h2>

Exemplo: $x^2 + 12x - 13 = 0$ com $a$=1, $b$=12 e $c$=-13.

$\Delta=$b$^2 - 4 \cdot $a$ \cdot $c$ $

</h2>

In [22]:
a = float(input('Digite o valor de A: '))
b = float(input('Digite o valor de B: '))
c = float(input('Digite o valor de C: '))

delta = (b ** 2) - 4 * a * c

print(delta)

Digite o valor de A: 2
Digite o valor de B: 2
Digite o valor de C: 2
-12.0

---

# Desvios Condicionais e estruturas de Repetição

__ATENÇÃO__: Python define ``blocos de código`` através da __indentação__.

### Desvio Condicional (``if-elif-else``)

É um desvio realizado dentro de um algoritmo para tomar caminhos diferentes na execução de tarefas.

```python
if (condição):
    ...comandos...
elif (condição):
    ...comandos...
else:
    ...comandos...
```

In [23]:
if (10 > 2):
  print('É verdade')
else:
    print('É falso')

É verdade

In [24]:
variavel = 32

if (variavel % 2 == 0):
  print(f"{variavel} é par")
else:
  print(f"{variavel} é impar")

32 é par

In [25]:
#elif
variavel = 9

if (variavel % 2 == 0):
  print(variavel * 2)

elif ((variavel % 2 == 0) and (variavel > 10)):
  print(variavel * 3)

else:
  print(variavel * 5)

45

## Atividade

Faça um programa que leia o peso e a altura de uma pessoa, calcule o seu IMC e mostre o seu estado nutricional. 

**Observações:**
* Utilizar *if-elif-else*
* O IMC deverá conter apenas duas casas decimais
<br><br>

<center>
Equação para o cálculo
<br><br> 
$
\large IMC = \frac{peso}{altura^2}
$
<br><br>
<strong>Tabela do Estado Nutricional</strong>
</center>

| IMC               | Resultado        |
|-------------------|------------------|
| Menos do que 18,5 | Abaixo do peso   |
| Entre 18,5 e 24,9 | Peso normal      |
| Entre 25 e 29,9   | Sobrepeso        |
| Entre 30 e 34,9   | Obesidade grau 1 |
| Entre 35 e 39,9   | Obesidade grau 2 |
| Mais do que 40    | Obesidade grau 3 |

In [26]:
peso = float(input('Digite seu peso: '))
altura = float(input('Digite sua altora: '))

imc = peso / (altura ** 2)

if (imc < 18,5):
  print('abaixo do peso')

elif (imc >= 18,5 and imc <= 24,9):
  print('peso normal')
  
elif (imc >= 25 and imc <= 29,9):
  print('Sobrepeso')

elif (imc >= 30 and imc <= 34,9):
  print('Obesidade grau 1')

elif (imc >= 35 and imc <= 39,9):
  print('Obesidade grau 2')

else:
  print('Obesidade grau 3')

Digite seu peso: 55
Digite sua altora: 1.70
abaixo do peso

# Estrutura de Repetição

### Estrutura ``for``

```python
for variável condição:
    <instruções>
```

In [27]:
# range(numeros): range(1, 10)
for i in range(1, 11):  
  print(i)

1
2
3
4
5
6
7
8
9
10

### Estrutura ``while``

```python
while (condição):
    <instruções>
    [condição]
```

In [28]:
contador = 1
while (contador < 11):
  print(contador)
  contador +=1 # adiciona um valor a cada execução

1
2
3
4
5
6
7
8
9
10

# Exercícios

Elabore um programa que leia um número do teclado e apresente a sua tabuada.

In [29]:
# Considerar que a tabuada é de 1 a té 10
n = int(input('Digite a tabuada: '))

for i in range(1, 11):
  print(n, 'X', i, ' = ', n*i)

Digite a tabuada: 2
2 X 1  =  2
2 X 2  =  4
2 X 3  =  6
2 X 4  =  8
2 X 5  =  10
2 X 6  =  12
2 X 7  =  14
2 X 8  =  16
2 X 9  =  18
2 X 10  =  20

In [30]:
n = int(input('Digite a tabuada: '))

i = 1
while i < 11:
  print(n, 'X', i, ' = ', n*i)
  i += 1

Digite a tabuada: 2
2 X 1  =  2
2 X 2  =  4
2 X 3  =  6
2 X 4  =  8
2 X 5  =  10
2 X 6  =  12
2 X 7  =  14
2 X 8  =  16
2 X 9  =  18
2 X 10  =  20